ignore-workspace-root-check=true
engine-strict=true
dedupe-direct-deps=true
link-workspace-packages=true
shared-workspace-lockfile=true
auto-install-peers=true
save-workspace-protocol=true
publish-branch="trunk"
